<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    </head>
    <body>
        <section id="header">
            <a href="#"><img src="logo.png" class="logo"></a>
            <div>
                <ul id="navbar">
                    <li><a class="logout" href="#">Log Out</a></li>
                </ul>
            </div>
        </section>
        <section id="tinfo">
            <form>
                <div class="details">
                    <h2>Enter teacher's PRN: </h2>
                    <input type="text" placeholder="Enter PRN" required>
                    <br><br>
                    <h2>Enter teacher's Name:</h2>
                    <input type="text" placeholder="Enter first name" required>
                    <input type="text" placeholder="Enter last name" required>
                    <br><br>
                    <h2>Enter teacher's official email address:</h2>
                    <input type="text" placeholder="Enter official email address" required>
                </div>
                <br><button onclick="window.location.href = 'tconf.html';">Generate Email</button>
            </form>
        </section>
    </body>