<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="trial.css">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="logo_Wrp">
                    <a href="javascript:void(0);"><img src="logo.png" alt="logo"></a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                        <span class="nav-item">T-DashBoard</span>
                   
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-home"></i>
                        <a href="teacher.html">Home</a>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-user">
                            <a href="manage_profile.html">Manage Profile</a>
                        </i>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-user">
                            <a href="manage_classes.html">Manage Your Classes</a>
                        </i>
                    </a></li>
                    <li><a href="">
                        <i class="faas fa-tasks"></i>
                        <a href="contact_admin.html">Contact Admin</a>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="">Logout></a>
                    </a></li>
                </ul>
            </nav>
            <section class="main">
                <div class="main-top">
                    <h1>Check your Upcoming Class:</h1>
                    <i class="fas fa-user-cog"></i>
                </div>
                <div class="main-skills">
                    <div class="card">
                        <i class="fas.fa-app-store-IOS"></i>
                        <h3>Upcoming Classes:</h3>
                        <h4> 1) BSC CS A: Machine Learning</h4>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-mini="true">Conduct</button>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-theme="b" data-mini="true">Cancel</button>
                        <p id="demo"></p>
                        <h4> 2) BSC CA A: Internet of Things</h4>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-mini="true">Conduct</button>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-theme="b" data-mini="true">Cancel</button>
                        <p id="demo"></p>
                        <h4> 3) BSC IT B: Computer Network</h4>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-mini="true">Conduct</button>
                        <button href="#" onclick="myFunction()" data-role="button" data-inline="true" data-theme="b" data-mini="true">Cancel</button>
                        <p id="demo"></p>
                    </div>
                </div>
            </section>
        </div>
        <script>
            function myFunction() {
              var txt;
              if (confirm("Confirm?")) {
                txt = "You pressed Conduct!";
              } else {
                txt = "You pressed Cancel!";
              }
              document.getElementById("demo").innerHTML = txt;
            }
        </script>
    </body>
</html> 