<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="trial.css">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="logo_Wrp">
                    <a href="javascript:void(0);"><img src="logo.png" alt="logo"></a>
                </div>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                        <span class="nav-item">T-DashBoard</span>
                   
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-home"></i>
                        <a href="teacher.html">Home</a>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-user">
                            <a href="manage_profile.html">Manage Profile</a>
                        </i>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-user">
                            <a href="manage_classes.html">Manage Your Classes</a>
                        </i>
                    </a></li>
                    <li><a href="">
                        <i class="faas fa-tasks"></i>
                        <a href="contact_admin.html">Contact Admin</a>
                    </a></li>
                    <li><a href="">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="">Logout></a>
                    </a></li>
                </ul>
            </nav>
            <section class="main">
                <div class="main-top">
                    <h1>Manage Your Profile:</h1>
                    <i class="fas fa-user-cog"></i>
                </div>
                <div class="main-skills">
                    <div class="card">
                        <i class="fas.fa-app-store-IOS"></i>
                        <h3>Set Up Profile</h3>
                        <p>Start your profile:</p>
                        <button onclick="window.location.href = 'teacher_info.html';">Get Started</button>
                    </div> 
                    <div class="card">
                        <i class="fas.fa-laptop-code"></i>
                        <h3>Generate & Download</h3>
                        <p>Generate & Download timetable:</p>
                        <button>Get Started</button>                                          
                    </div>
                    <div class="card">
                        <i class="fab.fa-wordpress"></i>
                        <h3>Edit Profile</h3>
                        <p>Edit your profile :</p>
                        <button onclick="window.location.href = 'self_edit.html';">Get Started</button>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </body>
</html>