<!-- include header here -->
{% include "includesf/header.html" %}

<!-- This tempalte tag loads the static file handling functionality in Django -->
{% load static %}

<body>
    <div class="container">
        <!-- Include siderbar navigation here -->
        {% include "includesf/sidebar-navigation.html" %}
        <section class="main">
            <div class="charts">
                <div class="charts-card">
                    <label class="chart-title">Total Teachers per Class:</label>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="charts-card">
                    <label class="chart-title">Visiting Faculty per Class:</label>
                    <canvas id="myChart2"></canvas>
                </div>
                <div class="charts-card">
                    <label class="chart-title">Classes Conducted by each Teacher this week:</label>
                    <canvas id="myChart3"></canvas>
                </div>
                <div class="charts-card">
                    <label class="chart-title">Holidays Per Month:</label>
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
        <script src="{% static 'frontend/js/my_chart.js' %}"></script>
    </div>
</body>

</html>