{% extends 'includes/layout.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid custom123">
        <div class="body">
            <ol class="breadcrumb breadcrumb-bg-pink">
                <li class="active">{{ ModuleName }}</li>
            </ol>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == "success" %} alert-success{% else %}alert-danger{% endif %}"
                     role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger 1">
                        <strong>{{ field }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div>
            <form class="card form-horizontal"
                  name="myForm"
                  enctype="multipart/form-data"
                  method="POST"
                  novalidate
                  action="">
                {% csrf_token %}
                <div class="header">
                    <h2>{{ ModuleName }}</h2>
                    {% if BackUrl %}
                        <a href="{% url BackUrl %}">
                            <button type="button"
                                    class="btn btn-primary"
                                    style="float:right!important;
                                           margin-top:-25px;">Back</button>
                        </a>
                    {% endif %}
                </div>
                <div id="EXP2" style="margin:15px;">
                    <table width="100%">
                        <tr>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.pro_name.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.pro_name|add_class:'form-control' }}</div>
                                </div>
                                {% if form.pro_name.errors %}
                                    {% for error in form.pro_name.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.pro_code.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.pro_code|add_class:'form-control' }}</div>
                                </div>
                                {% if form.pro_code.errors %}
                                    {% for error in form.pro_code.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.image.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.image|add_class:'form-control' }}</div>
                                </div>
                                {% if form.image.errors %}
                                    {% for error in form.image.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.description.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.description|add_class:'form-control' }}</div>
                                </div>
                                {% if form.description.errors %}
                                    {% for error in form.description.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.price_type.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.price_type|add_class:'form-control' }}</div>
                                </div>
                                {% if form.price_type.errors %}
                                    {% for error in form.price_type.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr id='priceSection'>
                            <td style="padding:10px;" width="25%">
                                <label>{{ form.price.label_tag }}&nbsp;</label>
                            </td>
                            <td width="75%">
                                <div class="form-group">
                                    <div class="form-line">{{ form.price|add_class:'form-control' }}</div>
                                </div>
                                {% if form.price.errors %}
                                    {% for error in form.price.errors %}
                                        <li>
                                            <span style="color: red">{{ error|escape }}</span>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <table class="table table-striped table-bordered" id="variantSection" style="display:none">
                                <thead class="bg-danger">
                                    <tr>
                                        <th>#</th>
                                        <th width=40%>Variant</th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Is Active
                                        </th>
                                        <th>
                                            Remove
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="varianttable">
                                    {% if VariantData %}
                                        {% for item1 in VariantData %}
                                            <tr class='variantRow'>
                                                <td>
                                                    {{ forloop.counter }}
                                                    <input name="variant_id[]" type="hidden" value="{{ item1.id }}">
                                                </td>
                                                <td>
                                                    <select name="variant_attribute[]"
                                                            class="form-control"
                                                            required=""
                                                            >
                                                        {% for item in AttributeData %}
                                                            <option value="{{ item.id }}"
                                                                    {% if item.id == item1.attribute.id %} selected{% endif %}>
                                                                {{ item }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text"
                                                           name="variant_price[]"
                                                           maxlength="200"
                                                           class="form-control"
                                                           required=""
                                                           id="id_price"
                                                           value=" {{ item1.price }}">
                                                </td>
                                                <td>
                                                    <div class="text-center">
                                                        <input type="file"
                                                               name="variant_image[{{ forloop.counter }}]"
                                                               accept="image/*"
                                                               class="form-control"
                                                               id="id_image">
                                                        <image src="{{ item1.image.url }}" width=50 height=50>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select name="variant_is_active[]"
                                                            class="form-control"
                                                            required>
                                                        <option value="Y" selected="">
                                                            Y
                                                        </option>
                                                        <option value="N">
                                                            N
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger remove" type="button">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tr>
                                    <td colspan="6">
                                        <button type="button" class="btn btn-primary" onclick="Addvariant()">
                                            Add+
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br>
                                <center>
                                    <input type="submit" class="btn btn-lg btn-primary" value="Save">
                                </center>
                                <br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.ckeditor.com/4.5.7/full-all/ckeditor.js"></script>
    <script>
        $(function() {
            CKEDITOR.replace('description', {allowedContent: true,});
            CKEDITOR.replace('description2', {allowedContent: true,});
            CKEDITOR.replace('description3', {allowedContent: true,});
        });
        $(document).on('click', '.remove', function() {
            $(this).closest('tr').remove();
        })
        function Addvariant(){
            var length = $('.variantRow').length;
            let variantRow =
                        `<tr class='variantRow'>
                            <td>${length+1}</td>
                            <td>
                                <input name="variant_id[]" type="hidden" value="0">
                                <select name="variant_attribute[]" class="form-control variantselect" required="" id="id_attribute">
                                    <option value="" selected="">---------</option>
                                    {% for item in AttributeData %}
                                        <option value="{{item.id}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="variant_price[]" maxlength="200" class="form-control" required="" id="id_price"></td>
                            <td><input type="file" name="variant_image[]" accept="image/*" class="form-control" id="id_image"></td>
                            <td>
                                <select name="variant_is_active[]" class="form-control variantselect" id="id_is_active" required>
                                    <option value="Y" selected="">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </td>
                            <td><button class="btn btn-danger remove" type="button">Delete</button>
                            </td>
                        </tr>
                        `;
            $('#varianttable').append(variantRow);
            $('.variantselect').select2({
                width: '100%',
                placeholder: "Select something",
            });
        }
        $(document).on('change', '[name=price_type]', function() {
            console.log($(this).val())
            price_type($(this).val())
        })
        function price_type(val){
            if(val=='Configured Price'){
                $('#variantSection').show()
                $('#priceSection').hide()
            }else{
                $('#variantSection').hide()
                $('#priceSection').show()
            }
        }
        price_type('{{form.price_type.value}}')
        setTimeout(function(){
                $('.select2').select2();
                console.log(1)
            }, 2000);
    </script>
{% endblock %}
